body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

h1 {
    color: #333;
    margin-top: 20px;
}

#umap-plot {
    width: 80%;
    height: 600px;
    margin: auto;
}
