/* Styles for the page layout */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5; 
}

#container {
    display: flex; /* Use flexbox for horizontal layout */
    padding: 20px;
}

h3 {
    font-size: 1.5em;
    color: #333;
    text-align: center;
    margin-top: 20px;
    width: 100%; /* Ensure the title spans the full width */
}

#plot-area {
    flex: 3; /* Plot area takes up 3 parts of the space */
    margin-right: 20px; /* Space between plot and tables */
}

#tables-area {
    display: flex; /* Arrange tables horizontally */
    flex: 2; /* Tables area takes up 2 parts of the space */
    flex-direction: column; /* Stack tables vertically */
    width: 100%; /* Full width */
}

#subtables-area {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    width: 100%;
}

#input-cluster-area, #input-cell-area {
    margin-bottom: 10px; /* Space below the cluster selector */
}

#cluster-select {
    width: 100%;
    margin-bottom: 0px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    height: 40px; /* Set a fixed height */
    overflow: hidden; /* Hide overflow if necessary */
}

#table-container {
    max-height: 480px; /* Limit height of tables */
    overflow-y: auto; /* Enable scrolling */
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px; /* Space above the table */
}

#cell-table, #gene-table {
    width: 100%;
    border-collapse: collapse;
}

#cell-table th, #cell-table td, #gene-table th, #gene-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

#cell-table th, #gene-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

#cell-table tr:nth-child(even), #gene-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

#cell-table tr:hover, #gene-table tr:hover {
    background-color: #f1f1f1;
}

#cell-table td, #gene-table td {
    font-size: 14px;
}

.gene-expression-section {
    margin-top: 20px;
}

#gene-expression-table-container {
    margin-top: 15px;
    overflow-y: auto;
    max-height: 400px; /* Set max height for scrollability */
}

#gene-expression-table {
    width: 100%;
    border-collapse: collapse;
}

#gene-expression-table th, #gene-expression-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

#gene-expression-table th {
    background-color: #f2f2f2;
    text-align: left;
}

#gene-expression-table td {
    text-align: left;
}
